{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    <section class="banner">
        <div class="card introduction">
            <div class="card-body">
                    <h1>M - Tous Travaux</h1>
                    <h2>Electricité - Chauffage - Plomberie - Aménagement</h2>
                    <p>Nous réalisons vos travaux d'intérieurs, allant de l'installation électrique à l'installation de cuisine,
                        salle de bain, en passant par la plomberie.<br/>
                        Nous nous occupons également de votre chauffage et climatisation afin de vous garantir une offre complète,
                        clés en main.
                    </p>
            </div>
        </div>

        <img src="{{ asset('build/home/banner.png') }}" alt="home-image" title="image d'accueil">
    </section>
{% endblock %}