<footer class="footer font-small">
    <div class="container-fluid footer font-small">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-center py-3">© 2021 Copyright:
                <a href="#"> mtt-travaux.com</a>
            </div>
            <div class="col-md-4 text-right py-3">
                {% if app.user %}
                    <a href="{{ path('app_logout') }}"> Se déconnecter</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Administrateur</a>
                {% endif %}
            </div>
        </div>
    </div>
</footer>