<footer class="footer font-small">
    <div class="footer font-small">
        <div class="text-center py-3">© 2021 Copyright:
            <a href="#"> mtt-travaux.com</a>
        </div>
    </div>
</footer>