{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Réalisations {% endblock %}

{% block body %}
    <section class="realisation">
            <div>
                <h1>Réalisations</h1>
            </div>
        <img src="{{ asset('build/realisations/realisations.png') }}" alt="realisation-image" title="image de la section réalisation">
    </section>
    <section>
        <nav class="navbar navbar-expand-lg d-flex justify-content-center navbar-light bg-light">
            <div id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active mr-5">
                        <a class="nav-link font-weight-bold" href="#">Salle de bain</a>
                    </li>
                    <li class="nav-item active mr-5">
                        <a class="nav-link font-weight-bold" href="#">Cuisine</a>
                    </li>
                    <li class="nav-item active mr-5">
                        <a class="nav-link font-weight-bold" href="#">Salon</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
{% endblock %}