@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$primary: #05445eff;
$secondary: #d4e3fdff;
$third: #f7cb4dff;
$grey: #f3f3f3ff;
$font-family: 'Roboto', sans-serif;

@import "~bootstrap/scss/bootstrap";

body {
    font-family: $font-family;
}

.introduction {
    position: relative;
    z-index: 2;
    margin: 400px 900px 10px 100px;
    background-color: #ffffffd9;
    color: $primary;
}

.banner img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 900px;
    opacity: 0.6;
}