@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$primary: #05445eff;
$secondary: #00bbcfff;
$warning: #f7cb4dff;
$grey: #f3f3f3ff;
$font-family: 'Roboto', sans-serif;
$navbar-height: 90px;

@import "~bootstrap/scss/bootstrap";

body {
    font-family: $font-family;
    font-weight: bold;
    padding-top: $navbar-height;
}

.introduction {
    position: relative;
    z-index: 2;
    margin: 300px 900px 10px 100px;
    background-color: #ffffffd9;
    color: $primary;
}

.banner img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 900px;
    opacity: 0.6;
    padding-top: $navbar-height;
}

.footer {
    background-color: $secondary;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.realisation img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.6;
}

.realisation div {
    position: relative;
    height:375px;
    display : flex;
    justify-content: center;
    z-index: 2;
    width: 100%;
}

.realisation h1 {
    align-self: center;
}

.realisation-picture {
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.realisation-picture img {
    height: auto;
    width: 300px;
}